{{#if quantity}}
<label for='cart_toggle'>{{quantity}} items</label>
<input id='cart_toggle' type='checkbox' />
<div id='items'>
  <ul>
    {{#each items}}
    <li>
      <a href='#' data-id="{{id}}">Remove</a>
      {{title}} x {{quantity}}
      <small>${{format_price price}}</small>
    </li>
    {{/each}}
  </ul>
  <p>{{format_price total}}</p>
</div>
{{else}}
<p>0 items</p>
{{/if}}